{% extends "base.html" %}
{% load static %}
{% block title %}درباره ی ما{% endblock title %}
{% block content %}
  
    <!-- Main Container  -->
    <div class="breadcrumbs">
      <div class="container">
        <div class="title-breadcrumb">
          درباره ما
        </div>
        <ul class="breadcrumb-cate">
          <li><a href="index-portkey.html">خانه</a></li>
          <li><a href="#">صفحات</a></li>
          <li><a href="#">درباره ما</a></li>
        </ul>
      </div>
    </div>
    <div class="about_us">
      <section class="section-style1">
        <div class="container page-builder-ltr">
          <div class="row row-style row_a1">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col_a1c about-text">
              <h3><span>درباره ما</span></h3>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم
                متن ساختگی با تولید سادگی نامفهوم</p>
              <ul>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>اقامتگاه های 5 ستاره
                </li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>هتل های تفریحی</li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>امکانات تفریحی و درجه یک
                </li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>پرواز های فرست کلاس</li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تور های گردشگری</li>
              </ul>
              <div class="about-more clearfix"><a href="#">بیشتر بدانید <i class="fa fa-long-arrow-left"
                    aria-hidden="true"></i></a></div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 col_a1c about-video">
              <div class="ytvideo" data-video="ibuUmMhD2Pg"
                style="width:870px; height:420px; background-image:url({% static 'image/bg-video.jpg' %})">
                <div class="seo">سفر</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-home2-style5">
        <div class="container page-builder-ltr">
          <div class="row row-style row_a1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
              <div class="module so-deals-1tr so-deals">
                <div class="head-title clearfix">
                  <div class="block-title pull-left">
                    <h3><span>دنبال کردن یک ماجرا</span></h3>
                    <p>فعالیت های ما در تور های گردشگری</p>
                  </div>
                </div>
                <div class="row">
                  <div class="ourtour clearfix">
                    <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon1.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">فعالیت های ساحل</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon2.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">اسکی روی آب</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon3.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">اردوگاه و کمپ</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                    </div>
                    <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon4.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">پاپاراتزی</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon5.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">پرش از ارتفاع</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon6.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">پشتیبانی وسایل نقلیه</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                    </div>
                    <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon7.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">بالن</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon8.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">قایق بادبانی لوکس</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="{% static 'image/catalog/demo/banners/home2/icon9.png' %}"
                            alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">کوه نوردی</a></h3>
                          <p>لورم ایپسوم متن ساختگی</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><br><br><br><br><br>
      <section class="section-style3">
        <div class="promotion clearfix">
          <div class="container page-builder-ltr">
            <div class="head-title clearfix">
              <div class="block-title">
                <h3><span>چرا سفر با آژانس مسافرتی ما</span></h3>
              </div>
            </div>
          </div>
          <div class="container page-builder-ltr">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                <img src="{% static 'image/icon/promo1.png' %}" alt="stay safe" class="img-responsive">
                <h3>پرواز های ایمن</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                  سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                <img src="{% static 'image/icon/promo2.png' %}" alt="Quality Services" class="img-responsive">
                <h3>خدمات با کیفیت بالا</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                  سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                <img src="{% static 'image/icon/promo3.png' %}" alt="Save Money" class="img-responsive">
                <h3>ذخیره پول خود</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                  سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

{% endblock content %}

    <!-- //Main Container -->
