{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  جزئیات شهر
{% endblock title %}
{% block content %}

		<div class="image-top"><img src=" {{city.image.url}}" alt="tour"
				class="img-responsive"></div>
		<!-- Main Container  -->
		<div class="destination-detail">
			<div class="container product-detail page-builder-ltr">
				<div class="row row-style row_a1">
					<div id="content" class="destination-content col-md-9 col-sm-12 col-xs-12">
						<a href="javascript:void(0)" class="open-sidebar hidden-lg hidden-md"><i
								class="fa fa-bars"></i>سایدبار</a>
						<div class="view-top">
							<a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i>مشاهده تصاویر</a>
						</div>
						<h1>به {{city.name}} خوش آمدید</h1>
						<div class="destination-top">
							<a href="#" class="view-all">مشاهده همه {{city.tour_number}} تور {{city.name}} <i class="fa fa-angle-double-left"
									aria-hidden="true"></i></a>
							<div class="good-now">
								<h3>بیشتر بدانید</h3>
								<p>{{city.description}}</p>
								<ul>
									<li>
										<label>موقعیت جغرافیایی</label>
										<span>{{city.geographic_place}}</span>
									</li>
									<li>
										<label>واحد پول</label>
										<span>{{city.currency}}</span>
									</li>
									<li>
										<label>زبان</label>
										<span>{{city.language}}</span>
									</li>
									<li>
										<label>دین</label>
										<span>{{city.religion}}</span>
									</li>
								</ul>
							</div>
							{{city.description_content|safe}}
						</div>
					</div>
					<aside class="col-md-3 col-sm-4 col-xs-12 content-aside right_column sidebar-offcanvas">
						<span id="close-sidebar" class="fa fa-times"></span>
						<div class="image-top"><img src="{% static 'image/catalog/demo/product/travel/banner-right.jpg' %}" alt="tour"
								class="img-responsive"></div>
						<div class="module-ques clearfix">
							<h3>سوالی دارید ؟</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
								نامفهوم</p>
							<ul>
								<li><i class="fa fa-phone" aria-hidden="true"></i>02155667788</li>
								<li><i class="fa fa-envelope" aria-hidden="true"></i>example@gmail.com</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
			<section class="section-style4 destination-tour">
				<div class="image">
					<img src="{% static 'image/bg-destination.jpg' %}" alt="" class="img-responsive">
				</div>
				<div class="container page-builder-ltr">
					<div class="module so-deals-1tr so-deals">
						<div class="head-title clearfix">
							<div class="block-title pull-left">
								<h3><span>تور های محبوب</span></h3>
							</div>
						</div>
						<div class="modcontent">
							<div
								class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
								<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes"
									data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6"
									data-margin="30" data-items_column00="3" data-items_column0="3"
									data-items_column1="3" data-items_column2="2" data-items_column3="2"
									data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes"
									data-loop="yes" data-hoverpause="yes">
									{% for tour in tours %}
									  
									<div class="item">
										<div class="item-inner">
											<div class="transition product-layout">
												<div class="product-item-container ">
													<div class="item-block so-quickview">
														<div class="image">
															<a href="{% url 'tour-detail' tour.slug %}" target="_self">
																<img src="{{tour.thumbnail.url}}"
																	alt="توکیو، سانفرانسیسکو، لندن، پاریس"
																	class="img-responsive">
															</a>
															<span class="label-hot"><i class="fa fa-fire"
																	aria-hidden="true"></i>تور ویژه</span>
															<span class="label-rate style2"><i class="fa fa-star"
																	aria-hidden="true"></i>رتبه بالا</span>
														</div>
														<div class="item-content clearfix">
															<h3><a href="{% url 'tour-detail' tour.slug %}">{{tour.title}}</a></h3>
															<div class="reviews-content">
																<div class="star">
																	<span style="width: 60px"></span>
																</div>
															</div>
															<ul>
																<li><i class="fa fa-map-marker" aria-hidden="true"></i>
																	{{tour.city.name}}</li>
																<li><i class="fa fa-clock-o" aria-hidden="true"></i> {{tour.tour_duration}}</li>
																<li><i class="fa fa-user-circle" aria-hidden="true"></i>
																	{{tour.passengers_left}} نفر</li>
															</ul>
															<div class="item-bot clearfix">
																<div class="price pull-left">
																	از <label>{{tour.adult_price|intcomma}}</label><span> تومان</span>
																</div>
																<a href="{% url 'tour-detail' tour.slug %}" class="book-now pull-right">مشاهده تور</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- //Main Container -->
{% endblock content %}