{% extends "base.html" %}
{% load static %}
{% block title %}
  جزئیات شهر
{% endblock title %}
{% block content %}

		<div class="image-top"><img src=" {% static 'image/catalog/demo/product/travel/tour-detail2.jpg' %}" alt="tour"
				class="img-responsive"></div>
		<!-- Main Container  -->
		<div class="destination-detail">
			<div class="container product-detail page-builder-ltr">
				<div class="row row-style row_a1">
					<div id="content" class="destination-content col-md-9 col-sm-12 col-xs-12">
						<a href="javascript:void(0)" class="open-sidebar hidden-lg hidden-md"><i
								class="fa fa-bars"></i>سایدبار</a>
						<div class="view-top">
							<a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i>مشاهده تصاویر</a>
						</div>
						<h1>به ویتنام خوش آمدید</h1>
						<div class="destination-top">
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
								نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
								سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
								تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی
								با تولید سادگی نامفهوم</p>
							<a href="#" class="view-all">مشاهده همه 325 تور ویتنام <i class="fa fa-angle-double-left"
									aria-hidden="true"></i></a>
							<div class="good-now">
								<h3>بیشتر بدانید</h3>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
									تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
									ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم
									ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم</p>
								<ul>
									<li>
										<label>موقعیت جغرافیایی</label>
										<span>جنوب شرقی آسیا</span>
									</li>
									<li>
										<label>واحد پول</label>
										<span>دانگ ویتنام</span>
									</li>
									<li>
										<label>زبان</label>
										<span>ویتنامی، انگلیسی</span>
									</li>
									<li>
										<label>حمل و نقل</label>
										<span>موتورسیکلت</span>
									</li>
								</ul>
							</div>
							<div class="thing-to">
								<h3>کارهایی که در ویتنام انجام می شود</h3>
								<p>
									از آنجا که ویتنام یک کشور بزرگ و متنوع است ، انبوهی از باورنکردنی وجود دارد
									کارهایی که باید انجام شود ، و این کشور را به یک کشور یک فروشگاهی برای فرهنگ و
									ماجراجویی تبدیل می کند لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
								<div class="item">
									<div class="title">به سفر غذایی بروید</div>
									<div class="des">ویتنام باید یکی از مکانهای مورد علاقه من برای غذاهای خیابانی باشد
										جنوب شرقی آسیا. بهترین چیز در مورد آن غذای خیابانی ارزان بودن خاک است
										غذایی به نام کاسه پو معتبر که فقط با 1 دلار شروع می شود.</div>
								</div>
								<div class="item">
									<div class="title">موتور یا دوچرخه اجاره کنید و به همه جا بروید</div>
									<div class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
										ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
										ایپسوم متن ساختگی با تولید سادگی نامفهوم</div>
								</div>
								<div class="item">
									<div class="title">در یک بازی سنتی ویتنام شرکت کنید</div>
									<div class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
										ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
										ایپسوم متن ساختگی با تولید سادگی نامفهوم</div>
								</div>
								<div class="item">
									<div class="title">هر غذای خیابانی بخورید</div>
									<div class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
										ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
										ایپسوم متن ساختگی با تولید سادگی نامفهوم</div>
								</div>
								<div class="image clearfix">
									<img src="image/catalog/demo/product/travel/dt1.jpg" alt="tour"
										class="img-responsive">
									<img src="image/catalog/demo/product/travel/dt2.jpg" alt="tour"
										class="img-responsive">
								</div>
								<div class="item">
									<div class="title">از غذاهای سنتی ویتنام لذت ببرید</div>
									<div class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
										ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
										ایپسوم متن ساختگی با تولید سادگی نامفهوم</div>
								</div>
								<div class="image2 clearfix">
									<img src="image/catalog/demo/product/travel/dt3.jpg" alt="tour"
										class="img-responsive">
								</div>
								<h3>شهرداری ها</h3>
								<div class="des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
									ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم
									ایپسوم متن ساختگی با تولید سادگی نامفهوم</div>
								<div class="image3 clearfix">
									<div class="item item1">
										<img src="image/catalog/demo/product/travel/dt4.jpg" alt="tour"
											class="img-responsive">
									</div>
									<div class="item item2">
										<img src="image/catalog/demo/product/travel/dt5.jpg" alt="tour"
											class="img-responsive">
									</div>
									<div class="item item2">
										<img src="image/catalog/demo/product/travel/dt6.jpg" alt="tour"
											class="img-responsive">
									</div>
									<div class="item item2">
										<img src="image/catalog/demo/product/travel/dt7.jpg" alt="tour"
											class="img-responsive">
									</div>
									<div class="item item2">
										<img src="image/catalog/demo/product/travel/dt8.jpg" alt="tour"
											class="img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
					<aside class="col-md-3 col-sm-4 col-xs-12 content-aside right_column sidebar-offcanvas">
						<span id="close-sidebar" class="fa fa-times"></span>
						<div class="image-top"><img src="image/catalog/demo/product/travel/banner-right.jpg" alt="tour"
								class="img-responsive"></div>
						<div class="module-ques clearfix">
							<h3>سوالی دارید ؟</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
								نامفهوم</p>
							<ul>
								<li><i class="fa fa-phone" aria-hidden="true"></i>02155667788</li>
								<li><i class="fa fa-envelope" aria-hidden="true"></i>example@gmail.com</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
			<section class="section-style4 destination-tour">
				<div class="image">
					<img src="{% static 'image/bg-destination.jpg' %}" alt="" class="img-responsive">
				</div>
				<div class="container page-builder-ltr">
					<div class="module so-deals-1tr so-deals">
						<div class="head-title clearfix">
							<div class="block-title pull-left">
								<h3><span>تور های محبوب</span></h3>
							</div>
						</div>
						<div class="modcontent">
							<div
								class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
								<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes"
									data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6"
									data-margin="30" data-items_column00="3" data-items_column0="3"
									data-items_column1="3" data-items_column2="2" data-items_column3="2"
									data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes"
									data-loop="yes" data-hoverpause="yes">

									<div class="item">
										<div class="item-inner">
											<div class="transition product-layout">
												<div class="product-item-container ">
													<div class="item-block so-quickview">
														<div class="image">
															<a href="destination-detail.html" target="_self">
																<img src="image/catalog/demo/product/travel/p1.jpg"
																	alt="توکیو، سانفرانسیسکو، لندن، پاریس"
																	class="img-responsive">
															</a>
															<span class="label-hot"><i class="fa fa-fire"
																	aria-hidden="true"></i>تور ویژه</span>
															<span class="label-rate style2"><i class="fa fa-star"
																	aria-hidden="true"></i>رتبه بالا</span>
														</div>
														<div class="item-content clearfix">
															<h3><a href="tour-detail.html">2 روز و 1 شب سفر به
																	سانتورینی، یونان</a></h3>
															<div class="reviews-content">
																<div class="star">
																	<span style="width: 60px"></span>
																</div>
																<a href="#" class="review-link" rel="nofollow">(15
																	رأی)</a>
															</div>
															<ul>
																<li><i class="fa fa-map-marker" aria-hidden="true"></i>
																	نیوزلند</li>
																<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2
																	روز</li>
																<li><i class="fa fa-user-circle" aria-hidden="true"></i>
																	4 نفر</li>
															</ul>
															<div class="item-bot clearfix">
																<div class="price pull-left">
																	از <label>230,000</label><span> تومان</span>
																</div>
																<a href="#" class="book-now pull-right">مشاهده تور</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- //Main Container -->
{% endblock content %}