{% extends "base.html" %}
{% load static %}
{% block title %}
  گالری
{% endblock title %}
{% block content %}
  
		<!-- Main Container  -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="title-breadcrumb">
					گالری
				</div>
				<ul class="breadcrumb-cate">
					<li><a href="index-portkey.html">خانه</a></li>
					<li><a href="#">صفحات</a></li>
					<li><a href="#">گالری</a></li>
				</ul>
			</div>
		</div>

		<div class="main-gallery container">
			<div class="row">
				<div class="content">
					<div class="item clearfix">
						<div class="col-lg-5 item-left">
							<a class="image-popup" href="{% static 'image/catalog/demo/product/travel/gl1.jpg' %}"><img
									class="responsive" src="{% static 'image/catalog/demo/product/travel/gl1.jpg' %}" alt="lg1"></a>
						</div>
						<div class="col-lg-7 item-right">
							<a class="image-popup" href="{% static 'image/catalog/demo/product/travel/gl2.jpg' %}"><img
									class="responsive" src="{% static 'image/catalog/demo/product/travel/gl2.jpg' %}" alt="lg2"></a>
							<a class="image-popup" href="{% static 'image/catalog/demo/product/travel/gl3.jpg' %}"><img
									class="responsive" src="{% static 'image/catalog/demo/product/travel/gl3.jpg' %}" alt="lg3"></a>
						</div>
					</div>
					<div class="item clearfix">
						<div class="col-lg-7 item-right">
							<a class="image-popup" href="{% static 'image/catalog/demo/product/travel/gl4.jpg' %}"><img
									class="responsive" src="{% static 'image/catalog/demo/product/travel/gl4.jpg' %}" alt="lg4"></a>
							<a class="image-popup" href="{% static 'image/catalog/demo/product/travel/gl5.jpg' %}"><img
									class="responsive" src="{% static 'image/catalog/demo/product/travel/gl5.jpg' %}" alt="lg5"></a>
						</div>
						<div class="col-lg-5 item-left">
							<a class="image-popup" href="{% static 'image/catalog/demo/product/travel/gl6.jpg' %}"><img
									class="responsive" src="{% static 'image/catalog/demo/product/travel/gl6.jpg' %}" alt="lg6"></a>
						</div>
					</div>
				</div>
			</div>

			<ul class="pagination">
				<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li class="active"><span>1</span></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<!-- //Main Container -->
{% endblock content %}