{% extends "base.html" %}
{% load static %}
{% block title %}آژانس مسافرتی همتا{% endblock title %}
{% block content %}
		<!-- Main Container  -->
		<div id="content">
			<div class="so-page-builder">
				<div class="page-builder-ltr">
					<div class="row row_a90w row-style">
						<!--- SLider right-->
						<div class="module sohomepage-slider so-homeslider-ltr">
							<div class="modcontent">
								<div id="sohomepage-slider1" class="slider-home1">
									<div class="so-homeslider sohomeslider-inner-1">
										<div class="item">
											<a href="#" title="اسلاید 1-1" target="_self">
												<img class="responsive" src="{% static 'image/catalog/demo/slider/home1/slider.jpg' %}"
													alt="اسلاید 1-1">
											</a>
											<div class="info">
												<div class="top">مقصد</div>
												<h3>ویتنام</h3>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم، <br>لورم
													ایپسوم متن ساختگی با تولید سادگی نامفهوم متن ساختگی</p>
												<a href="#">مطالعه بیشتر <i class="fa fa-angle-left"
														aria-hidden="true"></i></a>
											</div>
											<div class="info-right">
												<img class="responsive"
													src="{% static 'image/catalog/demo/slider/home1/text-right.png' %}"
													alt="slide 1v1">
											</div>
										</div>
										<div class="item">
											<a href="#" title="اسلاید 2-1" target="_self">
												<img class="responsive"
													src="{% static 'image/catalog/demo/slider/home1/slider2.jpg' %}" alt="اسلاید 2-1">
											</a>
											<div class="info">
												<div class="top">مقصد</div>
												<h3>انگلستان</h3>
												<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم، <br>لورم
													ایپسوم متن ساختگی با تولید سادگی نامفهوم متن ساختگی</p>
												<a href="#">مطالعه بیشتر <i class="fa fa-angle-left"
														aria-hidden="true"></i></a>
											</div>
											<div class="info-right">
												<img class="responsive"
													src="{% static 'image/catalog/demo/slider/home1/text-right.png' %}"
													alt="slide 1v2">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="travel-search-content">
					<div class="container page-builder-ltr">
						<div class="row">
							<form method="get" class="travl-search-advanced clearfix">
								<div class="search-item city pull-left">
									<p>مقصد</p>
									<input type="text" class="tour-search-input" id="city"
										placeholder="شهر، کشور یا مقصد مورد نظر">
								</div>
								<div class="search-item date pull-left">
									<p>تاریخ رفت</p>
									<input type="text" class="tour-search-input tarikh datepicker hasDatepicker"
										id="date_from" placeholder="DD/MM/YY">
								</div>
								<div class="search-item date pull-left">
									<p>تاریخ برگشت</p>
									<input type="text" class="tour-search-input tarikh datepicker hasDatepicker"
										id="date_to" placeholder="DD/MM/YY">
								</div>
								<div class="search-item item-select pull-left">
									<p>تعداد</p>
									<select name="people">
										<option value="1">1 نفر</option>
										<option value="2">2 نفر</option>
										<option value="3">3 نفر</option>
										<option value="4">4 نفر</option>
									</select>
								</div>
								<div class="search-item item-budget pull-left">
									<p>حداکثر بودجه</p>
									<input type="number" class="hotel-budget-input" id="budget"
										placeholder="1000 تومان">
								</div>
								<div class="search-item button-submit pull-left">
									<p>.</p>
									<button type="submit" class="button">جستجوی تور <i class="fa fa-angle-left"
											aria-hidden="true"></i></button>
									<input type="hidden" name="s">
									<input type="hidden" name="search_tour" value="1">
								</div>
							</form>
						</div>
					</div>
				</div>
				<section class="section-style1">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col_a1c about-text">
								<h3><span>درباره ما</span></h3>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
									تولید سادگی نامفهوم</p>
								<ul>
									<li><i class="fa fa-check-circle-o" aria-hidden="true"></i>اقامتگاه های 5 ستاره
									</li>
									<li><i class="fa fa-check-circle-o" aria-hidden="true"></i>هتل های تفریحی</li>
									<li><i class="fa fa-check-circle-o" aria-hidden="true"></i>امکانات تفریحی و درجه یک
									</li>
									<li><i class="fa fa-check-circle-o" aria-hidden="true"></i>پرواز های فرست کلاس</li>
									<li><i class="fa fa-check-circle-o" aria-hidden="true"></i>تور های گردشگری</li>
								</ul>
								<div class="about-more clearfix"><a href="about-us.html">مطالعه بیشتر <i
											class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
							</div>
							
						</div>
					</div>
				</section>
				<section class="section-style2">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr home1_deals so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>پیشنهاد های لحظه ای</span></h3>
											<p>بهترین تخفیف های جدید ما، انتخاب کنید و لذت ببرید !</p>
										</div>
										<a href="tour.html" class="pull-right">مشاهده همه <i class="fa fa-angle-left"
												aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div
											class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider"
												data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4"
												data-speed="0.6" data-margin="30" data-items_column00="4"
												data-items_column0="4" data-items_column1="4" data-items_column2="2"
												data-items_column3="2" data-items_column4="1" data-arrows="no"
												data-pagination="no" data-lazyload="yes" data-loop="yes"
												data-hoverpause="yes">
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/t1.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																	<span class="price">230 هزار تومان</span>
																	<span class="label-bolt"><i class="fa fa-bolt"
																			aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">2 روز و 1 شب سفر به
																			سانتیرونی، یونان</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker"
																				aria-hidden="true"></i> نیوزلند</li>
																		<li><i class="fa fa-clock-o"
																				aria-hidden="true"></i> 2 روز</li>
																		<li><i class="fa fa-user-circle"
																				aria-hidden="true"></i> 4 نفر</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/t2.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																	<span class="price">230 هزار تومان</span>
																	<span class="label-bolt"><i class="fa fa-bolt"
																			aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">3 روز و 2 شب سفر به
																			آمستردام، هلند</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker"
																				aria-hidden="true"></i> نیوزلند</li>
																		<li><i class="fa fa-clock-o"
																				aria-hidden="true"></i> 2 روز</li>
																		<li><i class="fa fa-user-circle"
																				aria-hidden="true"></i> 4 نفر</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/t3.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																	<span class="price">230 هزار تومان</span>
																	<span class="label-bolt"><i class="fa fa-bolt"
																			aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">2 روز و 1 شب سفر به
																			سانتیرونی، یونان</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker"
																				aria-hidden="true"></i> نیوزلند</li>
																		<li><i class="fa fa-clock-o"
																				aria-hidden="true"></i> 2 روز</li>
																		<li><i class="fa fa-user-circle"
																				aria-hidden="true"></i> 4 نفر</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/t4.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																	<span class="price">230 هزار تومان</span>
																	<span class="label-bolt"><i class="fa fa-bolt"
																			aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">3 روز و 2 شب سفر به
																			آمستردام، هلند</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker"
																				aria-hidden="true"></i> نیوزلند</li>
																		<li><i class="fa fa-clock-o"
																				aria-hidden="true"></i> 2 روز</li>
																		<li><i class="fa fa-user-circle"
																				aria-hidden="true"></i> 4 نفر</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-style3">
					<div class="promotion clearfix">
						<div class="container page-builder-ltr">
							<div class="head-title clearfix">
								<div class="block-title">
									<h3><span>چرا سفر با آژانس مسافرتی ما</span></h3>
								</div>
							</div>
						</div>
						<div class="container page-builder-ltr">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
									<img src="{% static 'image/icon/promo1.png' %}" alt="stay safe" class="img-responsive">
									<h3>پرواز های ایمن</h3>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
										سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
									<img src="{% static 'image/icon/promo2.png' %}" alt="Quality Services" class="img-responsive">
									<h3>خدمات با کیفیت بالا</h3>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
										سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
									<img src="{% static 'image/icon/promo3.png' %}" alt="Save Money" class="img-responsive">
									<h3>ذخیره پول خود</h3>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
										سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-style4">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr home1_deals so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>تور های محبوب</span></h3>
										</div>
										<a href="tour.html" class="pull-right">مشاهده همه <i class="fa fa-angle-left"
												aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div
											class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider"
												data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4"
												data-speed="0.6" data-margin="30" data-items_column00="3"
												data-items_column0="3" data-items_column1="3" data-items_column2="2"
												data-items_column3="2" data-items_column4="1" data-arrows="no"
												data-pagination="no" data-lazyload="yes" data-loop="yes"
												data-hoverpause="yes">
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" target="_self">
																			<img src="{% static 'image/catalog/demo/product/travel/p1.jpg' %}"
																				alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-hot"><i class="fa fa-fire"
																				aria-hidden="true"></i>تور ویژه</span>
																		<span class="label-rate style2"><i
																				class="fa fa-star"
																				aria-hidden="true"></i>رتبه بالا</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">2 روز و یک شب سفر
																				به سانتورینی، یونان</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																			<a href="#" class="review-link"
																				rel="nofollow">(15 بررسی)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> نیوزلند
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> 2 روز</li>
																			<li><i class="fa fa-user-circle"
																					aria-hidden="true"></i> 4 نفر
																			</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>230,000</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" target="_self">
																			<img src="{% static 'image/catalog/demo/product/travel/p4.jpg' %}"
																				alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-hot"><i class="fa fa-fire"
																				aria-hidden="true"></i>تور ویژه</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">2 روز و یک شب سفر
																				به سانتورینی، یونان</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																			<a href="#" class="review-link"
																				rel="nofollow">(20 بررسی)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> نیوزلند
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> 2 روز</li>
																			<li><i class="fa fa-user-circle"
																					aria-hidden="true"></i> 4 نفر
																			</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>230,000</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" target="_self">
																			<img src="{% static 'image/catalog/demo/product/travel/p2.jpg' %}"
																				alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-rate"><i class="fa fa-star"
																				aria-hidden="true"></i>رتبه بالا</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">3 روز و 2 شب سفر
																				به هلند</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																			<a href="#" class="review-link"
																				rel="nofollow">(10 بررسی)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> نیوزلند
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> 2 روز</li>
																			<li><i class="fa fa-user-circle"
																					aria-hidden="true"></i> 4 نفر
																			</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>230,000</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" target="_self">
																			<img src="{% static 'image/catalog/demo/product/travel/p3.jpg' %}"
																				alt="Bougainvilleas on Lombard Street, San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-rate"><i class="fa fa-star"
																				aria-hidden="true"></i>رتبه بالا</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">3 روز و 2 شب سفر
																				به هلند</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																			<a href="#" class="review-link"
																				rel="nofollow">(10 بررسی)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> نیوزلند
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> 2 روز</li>
																			<li><i class="fa fa-user-circle"
																					aria-hidden="true"></i> 4 نفر
																			</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>670,000</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" target="_self">
																			<img src="{% static 'image/catalog/demo/product/travel/p3.jpg' %}"
																				alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-rate"><i class="fa fa-star"
																				aria-hidden="true"></i>رتبه بالا</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">2 روز و یک شب سفر
																				به سانتورینی، یونان</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																			<a href="#" class="review-link"
																				rel="nofollow">(15 بررسی)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> نیوزلند
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> 2 روز</li>
																			<li><i class="fa fa-user-circle"
																					aria-hidden="true"></i> 4 نفر
																			</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>800,000</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" target="_self">
																			<img src="{% static 'image/catalog/demo/product/travel/p6.jpg' %}"
																				alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-hot"><i class="fa fa-fire"
																				aria-hidden="true"></i>تور ویژه</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">2 روز و یک شب سفر
																				به سانتورینی، یونان</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																			<a href="#" class="review-link"
																				rel="nofollow">(15 بررسی)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> نیوزلند
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> 2 روز</li>
																			<li><i class="fa fa-user-circle"
																					aria-hidden="true"></i> 4 نفر
																			</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>130,000</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-style5">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr home1_deals so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>مقصد خود را انتخاب کنید</span></h3>
										</div>
									</div>
									<div class="modcontent">
										<div
											class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider"
												data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4"
												data-speed="0.6" data-margin="30" data-items_column00="4"
												data-items_column0="4" data-items_column1="4" data-items_column2="2"
												data-items_column3="2" data-items_column4="1" data-arrows="no"
												data-pagination="no" data-lazyload="yes" data-loop="yes"
												data-hoverpause="yes">
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/chosse1.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a
																				href="destination-detail.html"><i
																					class="fa fa-map-marker"
																					aria-hidden="true"></i> انگلستان</a>
																		</h3>
																		<span class="pull-right">14 تور</span>
																	</div>
																	<div class="view-all"><a
																			href="destination-list.html">مشاهده همه تور
																			ها
																			<i class="fa fa-angle-double-left"
																				aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/chosse2.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a
																				href="destination-detail.html"><i
																					class="fa fa-map-marker"
																					aria-hidden="true"></i> فرانسه</a>
																		</h3>
																		<span class="pull-right">14 تور</span>
																	</div>
																	<div class="view-all"><a
																			href="destination-list.html">مشاهده همه تور
																			ها
																			<i class="fa fa-angle-double-left"
																				aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/chosse3.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a
																				href="destination-detail.html"><i
																					class="fa fa-map-marker"
																					aria-hidden="true"></i>
																				استرالیا</a></h3>
																		<span class="pull-right">14 تور</span>
																	</div>
																	<div class="view-all"><a
																			href="destination-list.html">مشاهده همه تور
																			ها
																			<i class="fa fa-angle-double-left"
																				aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/chosse4.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a
																				href="destination-detail.html"><i
																					class="fa fa-map-marker"
																					aria-hidden="true"></i> لائوس</a>
																		</h3>
																		<span class="pull-right">14 تور</span>
																	</div>
																	<div class="view-all"><a
																			href="destination-list.html">مشاهده همه تور
																			ها
																			<i class="fa fa-angle-double-left"
																				aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" target="_self">
																		<img src="{% static 'image/catalog/demo/product/travel/chosse5.jpg' %}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a
																				href="destination-detail.html"><i
																					class="fa fa-map-marker"
																					aria-hidden="true"></i> ایتالیا</a>
																		</h3>
																		<span class="pull-right">14 تور</span>
																	</div>
																	<div class="view-all"><a
																			href="destination-list.html">مشاهده همه تور
																			ها
																			<i class="fa fa-angle-double-left"
																				aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-style6">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_6fdl float_none container">
						<div class="head-title clearfix">
							<div class="block-title pull-left">
								<h3><span>تصاویری که توریست ها به اشتراک گذاشتند</span></h3>
							</div>
						</div>
						<div class="sw-gallery products-list yt-content-slider" data-rtl="yes" data-autoplay="no"
							data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="5"
							data-items_column0="5" data-items_column1="5" data-items_column2="3" data-items_column3="3"
							data-items_column4="2" data-arrows="no" data-pagination="no" data-lazyload="yes"
							data-loop="yes" data-hoverpause="yes">
							<div class="item">
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery1.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery1.jpg' %}"
											alt="gallery1"></a>
								</div>
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery2.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery2.jpg' %}"
											alt="gallery2"></a>
								</div>
							</div>
							<div class="item">
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery3.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery3.jpg' %}"
											alt="gallery3"></a>
								</div>
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery4.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery4.jpg' %}"
											alt="gallery4"></a>
								</div>
							</div>
							<div class="item">
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery5.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery5.jpg' %}"
											alt="gallery5"></a>
								</div>
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery6.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery6.jpg' %}"
											alt="gallery6"></a>
								</div>
							</div>
							<div class="item">
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery7.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery7.jpg' %}"
											alt="gallery7"></a>
								</div>
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery8.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery8.jpg' %}"
											alt="gallery8"></a>
								</div>
							</div>
							<div class="item">
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery9.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery9.jpg' %}"
											alt="gallery9"></a>
								</div>
								<div class="content-img">
									<a class="image-popup" href="{% static 'image/catalog/demo/banners/home1/gallery10.jpg' %}"><img
											class="responsive" src="{% static 'image/catalog/demo/banners/home1/gallery10.jpg' %}"
											alt="gallery10"></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!-- //Main Container -->
		{% endblock content %}