{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}آژانس مسافرتی همتا{% endblock title %}
{% block content %}
		<!-- Main Container  -->
		<div id="content">
			<div class="so-page-builder">
				<div class="page-builder-ltr">
					<div class="row row_a90w row-style">
						<!--- SLider right-->
						<div class="module sohomepage-slider so-homeslider-ltr">
							<div class="modcontent">
								<div id="sohomepage-slider1" class="slider-home1">
									<div class="so-homeslider sohomeslider-inner-1">
										{% for city in top %}
										  
										
										<div class="item">
											<a href="#"  target="_self">
												<img class="responsive" src="{{city.image.url}}">
											</a>
											<div class="info">
												<div class="top">مقصد</div>
												<h3>{{city.name}}</h3>
												<p>{{city.description}}</p>
												<a href="{% url 'city-detail' city.id %}">مطالعه بیشتر <i class="fa fa-angle-left"
														aria-hidden="true"></i></a>
											</div>
											<div class="info-right">
												<img class="responsive"
													src="{{city.image.url}}">
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="travel-search-content">
					<div class="container page-builder-ltr">
						<div class="row">
							<form method="get" action="{% url 'tour-listing' %}" class="travl-search-advanced clearfix">
								<div class="search-item city pull-left">
									<p>مقصد</p>
									<input type="text" class="tour-search-input" id="city" name="city">
								</div>
								<div class="search-item item-budget pull-left">
									<p>حداکثر بودجه</p>
									<input type="number" class="hotel-budget-input" id="price"
										placeholder="1000 تومان" name="price">
								</div>
								<div class="search-item button-submit pull-left">
									<p>.</p>
									<button type="submit" class="button">جستجوی تور <i class="fa fa-angle-left"
											aria-hidden="true"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<section class="section-style1">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col_a1c about-text">
								<h3><span>درباره ما</span></h3>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
									تولید سادگی نامفهوم</p>
								<ul>

									<li><i class="fa fa-check-circle-o" aria-hidden="true"></i>اقامتگاه های 5 ستاره</li>
									
								</ul>
								<div class="about-more clearfix"><a href="about-us.html">مطالعه بیشتر <i
											class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
							</div>
							
						</div>
					</div>
				</section>
				<section class="section-style2">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr home1_deals so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>پیشنهاد های لحظه ای</span></h3>
											<p>بهترین تخفیف های جدید ما، انتخاب کنید و لذت ببرید !</p>
										</div>
										<a href="tour.html" class="pull-right">مشاهده همه <i class="fa fa-angle-left"
												aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div
											class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider"
												data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4"
												data-speed="0.6" data-margin="30" data-items_column00="4"
												data-items_column0="4" data-items_column1="4" data-items_column2="2"
												data-items_column3="2" data-items_column4="1" data-arrows="no"
												data-pagination="no" data-lazyload="yes" data-loop="yes"
												data-hoverpause="yes">
												  
												{% for tour in random_tours %}
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="{% url 'tour-detail' tour.slug %}" target="_self">
																		<img src="{{tour.thumbnail.url}}"
																			class="img-responsive">
																	</a>
																	<span class="price">{{tour.adult_price|intcomma}} تومان</span>
																	<span class="label-bolt"><i class="fa fa-bolt"
																			aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="{% url 'tour-detail' tour.slug %}">{{tour.title}}</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker"
																				aria-hidden="true"></i> {{tour.city.name}}</li>
																		<li><i class="fa fa-clock-o"
																				aria-hidden="true"></i> {{tour.tour_duration}}</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-style3">
					<div class="promotion clearfix">
						<div class="container page-builder-ltr">
							<div class="head-title clearfix">
								<div class="block-title">
									<h3><span>چرا سفر با آژانس مسافرتی ما</span></h3>
								</div>
							</div>
						</div>
						<div class="container page-builder-ltr">
							<div class="row">

								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
									<img src="{% static 'image/icon/promo1.png' %}" alt="stay safe" class="img-responsive">
									<h3>پرواز های ایمن</h3>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
										سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
								</div>

							</div>
						</div>
					</div>
				</section>
				<section class="section-style4">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr home1_deals so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>تور های محبوب</span></h3>
										</div>
										<a href="tour.html" class="pull-right">مشاهده همه <i class="fa fa-angle-left"
												aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div
											class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider"
												data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4"
												data-speed="0.6" data-margin="30" data-items_column00="3"
												data-items_column0="3" data-items_column1="3" data-items_column2="2"
												data-items_column3="2" data-items_column4="1" data-arrows="no"
												data-pagination="no" data-lazyload="yes" data-loop="yes"
												data-hoverpause="yes">
												{% for tour in top_tours %}
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="{% url 'tour-detail' tour.slug %}" target="_self">
																			<img src="{{ tour.thumbnail.url }}"
																				alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																				class="img-responsive">
																		</a>
																		<span class="label-hot"><i class="fa fa-fire"
																				aria-hidden="true"></i>تور ویژه</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="{% url 'tour-detail' tour.slug %}">{{tour.title}}</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>
																			</div>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker"
																					aria-hidden="true"></i> {{tour.city.name}}
																			</li>
																			<li><i class="fa fa-clock-o"
																					aria-hidden="true"></i> {{tour.tour_duration}}</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				از
																				<label>{{tour.adult_price|intcomma}}</label><span>
																					تومان</span>
																			</div>
																			<a href="booking-step.html"
																				class="book-now btn-quickview quickview quickview_handler pull-right"
																				title="مشاهده سریع"
																				data-title="مشاهده سریع"
																				data-fancybox-type="iframe">مشاهده
																				تور</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-style5">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr home1_deals so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>مقصد خود را انتخاب کنید</span></h3>
										</div>
									</div>
									<div class="modcontent">
										<div
											class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider"
												data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4"
												data-speed="0.6" data-margin="30" data-items_column00="4"
												data-items_column0="4" data-items_column1="4" data-items_column2="2"
												data-items_column3="2" data-items_column4="1" data-arrows="no"
												data-pagination="no" data-lazyload="yes" data-loop="yes"
												data-hoverpause="yes">
												{% for city in cities %}
												  
												
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="{% url 'city-detail' city.slug %}" target="_self">
																		<img src="{{city.thumbnail.url}}"
																			alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo"
																			class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a
																				href="{% url 'city-detail' city.slug %}"><i
																					class="fa fa-map-marker"
																					aria-hidden="true"></i> {{city.name}}</a>
																		</h3>
																		<span class="pull-right">{{city.tour_number}} تور</span>
																	</div>
																	<div class="view-all"><a
																			href="{% url 'city-detail' city.slug %}">مشاهده همه تور
																			ها
																			<i class="fa fa-angle-double-left"
																				aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!-- //Main Container -->
		{% endblock content %}