{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  جزئیات تور
{% endblock title %}
{% block content %}

		<div class="image-top"><img src="{{tour.image.url}}" alt="tour"
				class="img-responsive"></div>
		<!-- Main Container  -->
		<div class="container product-detail tour-single">
			<div class="row">
				<div id="content" class="col-md-9 col-sm-12 col-xs-12">
					<a href="javascript:void(0)" class="open-sidebar hidden-lg hidden-md"><i
							class="fa fa-bars"></i>سایدبار</a>
					<div class="detail-content">
						<div class="view-top">
						</div>
						<div class="sticky-content">
							<h1>{{tour.title}}</h1>
							<ul class="box-meta">
								
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{tour.tour_duration}}</li>
										{{tour.tour_labels}}</li>
								<li><i class="fa fa-users" aria-hidden="true"></i>{{tour.tour_passengers}}</li>
							</ul>
							<div class="top-tab" id="nav">
								<ul class="nav nav-tabs">
									<li><a href="#home">مرور</a></li>
									<li><a href="#menu2">نقشه</a></li>
									<li><a href="#menu3">امکانات</a></li>
								</ul>
							</div>
						</div>
						<div class="content-tabs">
							<div class="tab-content">
								<p id="home">{{tour.description}}</p>
								<ul class="location-wee clearfix">
									<li>
										<label>قیمت</label>
										<div class="item">{{tour.adult_price|intcomma}} تومان</div>
									</li>
									<li>
										<label>تعداد افراد باقیمانده</label>
										<div class="item">{{tour.passengers_left}}</div>
									</li>
									<li>
										<label>موقعیت مکانی</label>
										<div class="item">{{tour.city.geographic_place}}</div>
									</li>
									<li>
										<label>پوشیدن</label>
										<div class="item">{{tour.wearings}}</div>
									</li>
									<li>
										<label>هزینه های مشمول</label>
										<div class="item">
											{% for price in tour.included_costs %}
											<div class="info"><i class="fa fa-check" aria-hidden="true"></i>{{price}}
											</div>											  
											{% endfor %}

										</div>
									</li>
									<li>
										<label>هزینه های مستثنی</label>
										<div class="item">
											{% for pric in tour.not_included_costs %}
											<div class="info2"><i class="fa fa-times" aria-hidden="true"></i>{{pric}}
											</div>
																				  
											{% endfor %}
										</div>
									</li>
								</ul>
								<div>
								</div>
								<div id="menu2" class="tour-map">
									<h3>نقشه موقعیت مکانی</h3>
									<iframe
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0762034011345!2d51.33938432078328!3d35.69974233666176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQxJzU5LjEiTiA1McKwMjAnMTMuOSJF!5e0!3m2!1sfa!2s!4v1585894944267!5m2!1sfa!2s"
										width="900" height="500" frameborder="0" style="border:0"
										allowfullscreen=""></iframe>
								</div>
								<div id="menu3" class="tour-amen clearfix">
									<h3>امکانات</h3>
									<ul>
										{% for feature in tour.features %}
										<li><i class="fa fa-check-circle" aria-hidden="true"></i>{{feature}}</li>										  
										{% endfor %}
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<aside class="col-md-3 col-sm-4 col-xs-12 content-aside right_column sidebar-offcanvas">
					
					<span id="close-sidebar" class="fa fa-times"></span>
					<div class="module-why clearfix">
						<h3>چرا باید با ما سفر کنید؟</h3>
						<ul>
							<li><i class="fa fa-usd" aria-hidden="true"></i>ضمانت بهترین قیمت</li>
							<li><i class="fa fa-star" aria-hidden="true"></i>تور ها و فعالیت های ویژه</li>
							<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i>سرویس خدمات مسافرین 24/7
							</li>
							<li><i class="fa fa-user" aria-hidden="true"></i>راهنمای تور حرفه ای</li>
						</ul>
					</div>
					<div class="module-ques clearfix">
						<h3>پرسشی دارید؟</h3>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی</p>
						<ul>
							<li><i class="fa fa-phone" aria-hidden="true"></i>02155667788</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i>example@gmail.com</li>
						</ul>
					</div>
					<div class="module-pop clearfix">
						<h3>تور های محبوب</h3>
						{% for tour_ext in tours %}
						<div class="item clearfix">
							<div class="image">
								<a href="{% url 'tour-detail' tour_ext.slug %}"><img src="{{tour_ext.thumbnail.url}}"
										alt="Bougainvilleas on Lombard Street" class="img-responsive"></a>
							</div>
							<div class="content">
								<h4><a href="{% url 'tour-detail' tour_ext.slug %}">{{tour_ext.title}}</a></h4>
								<p>از {{tour_ext.adult_price|intcomma}} تومان</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</aside>
			</div>
		</div>

		<!-- //Main Container -->
{% endblock content %}