{% extends 'base.html' %}
{% load static %}
{% block title %}
  جزئیات تور
{% endblock title %}
{% block content %}

		<div class="image-top"><img src="{% static 'image/catalog/demo/product/travel/tour-detail.jpg' %}" alt="tour"
				class="img-responsive"></div>
		<!-- Main Container  -->
		<div class="container product-detail tour-single">
			<div class="row">
				<div id="content" class="col-md-9 col-sm-12 col-xs-12">
					<a href="javascript:void(0)" class="open-sidebar hidden-lg hidden-md"><i
							class="fa fa-bars"></i>سایدبار</a>
					<div class="detail-content">
						<div class="view-top">
							<a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i>مشاهده تصاویر</a>
							<a href="#"><i class="fa fa-play" aria-hidden="true"></i>مشاهده پیش نمایش</a>
						</div>
						<div class="sticky-content">
							<h1>تور گردشگری سفر به بارسلونا</h1>
							<ul class="box-meta">
								<li>
									<div class="star"><span style="width: 67px"></span></div><label>4.5</label>
								</li>
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>3 روز و 2 شب</li>
								<li><i class="fa fa-male" aria-hidden="true"></i><a href="#">روز تعطیل</a>، <a
										href="#">ماجراجویی</a></li>
								<li><i class="fa fa-users" aria-hidden="true"></i>16 نفر</li>
							</ul>
							<div class="top-tab" id="nav">
								<ul class="nav nav-tabs">
									<li><a href="#home">مرور</a></li>
									<li><a href="#menu1">پلن های تور</a></li>
									<li><a href="#menu2">نقشه</a></li>
									<li><a href="#menu3">امکانات</a></li>
									<li><a href="#menu4">نظرات</a></li>
								</ul>
							</div>
						</div>
						<div class="content-tabs">
							<div class="tab-content">
								<p id="home">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
									تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
									ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم
									ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
									تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
								<ul class="location-wee clearfix">
									<li>
										<label>موقعیت مکانی</label>
										<div class="item">اروپا، اسپانیا، <a href="#">بارسلونا</a></div>
									</li>
									<li>
										<label>پوشیدن</label>
										<div class="item">لباس ورزشی راحت، کفش هاکی، کلاه، ژاکت و کرم ضدآفتاب</div>
									</li>
									<li>
										<label>زمان رسیدن</label>
										<div class="item">3 ساعت بعد از زمان پرواز</div>
									</li>
									<li>
										<label>زمان بازگشت</label>
										<div class="item">تقریبا 08:00 صبح</div>
									</li>
									<li>
										<label>هزینه های مشمول</label>
										<div class="item">
											<div class="info"><i class="fa fa-check" aria-hidden="true"></i>کرایه هوایی
											</div>
											<div class="info"><i class="fa fa-check" aria-hidden="true"></i>هزینه حمل و
												نقل به محل اقامت</div>
											<div class="info"><i class="fa fa-check" aria-hidden="true"></i>2 شب اقامت
												در هتل</div>
											<div class="info"><i class="fa fa-check" aria-hidden="true"></i>راهنمای تور
											</div>
										</div>
									</li>
									<li>
										<label>هزینه های مستثنی</label>
										<div class="item">
											<div class="info2"><i class="fa fa-times" aria-hidden="true"></i>مخارج خصوصی
											</div>
											<div class="info2"><i class="fa fa-times" aria-hidden="true"></i>هزینه سرویس
												اتاق</div>
											<div class="info2"><i class="fa fa-times" aria-hidden="true"></i>سوغات
											</div>
										</div>
									</li>
								</ul>
								<div id="menu1" class="tour-plan clearfix">
									<h3>پلن های تور</h3>
									<div class="item-content">
										<div class="title"><span>1</span>روز 1 - رسیدن</div>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
											سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
											ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
										</p>
										<ul>
											<li><label>09:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
											<li><label>13:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
											<li><label>17:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
											<li><label>20:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
										</ul>
										<div class="title"><span>2</span>روز 2 - بازدید از روستای شگفت انگیز هابیت ها
										</div>
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
											سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
											ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
										</p>
										<ul>
											<li><label>09:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
											<li><label>13:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
											<li><label>17:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
											<li><label>20:30</label> - <span>لورم ایپسوم متن ساختگی با تولید سادگی
													نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم
													متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید
													سادگی نامفهوم.</span></li>
										</ul>
										<div class="title"><span>3</span>روز 3 - بازگشت</div>
									</div>
								</div>
								<div id="menu2" class="tour-map">
									<h3>نقشه موقعیت مکانی</h3>
									<iframe
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0762034011345!2d51.33938432078328!3d35.69974233666176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQxJzU5LjEiTiA1McKwMjAnMTMuOSJF!5e0!3m2!1sfa!2s!4v1585894944267!5m2!1sfa!2s"
										width="900" height="500" frameborder="0" style="border:0"
										allowfullscreen=""></iframe>
								</div>
								<div id="menu3" class="tour-amen clearfix">
									<h3>امکانات</h3>
									<ul>
										
										<li><i class="fa fa-check-circle" aria-hidden="true"></i>استخر شنا</li>
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<aside class="col-md-3 col-sm-4 col-xs-12 content-aside right_column sidebar-offcanvas">
					<span id="close-sidebar" class="fa fa-times"></span>
					<div class="module-search2 clearfix">
						<h3 class="modtitle"><label>267,000</label><span> تومان</span></h3>
						<form method="get" class="search-pr">
							<div class="search-item date">
								<input type="text" class="tour-search-input datepicker hasDatepicker" id="date_from"
									placeholder="1399/06/20">
							</div>
							<div class="item-avai">بلیط در دسترس : <span>4</span></div>
							<div class="search-item item-select">
								<select name="adult">
									<option value="1">1 نفر</option>
									<option value="2">2 نفر</option>
									<option value="3">3 نفر</option>
									<option value="4">4 نفر</option>
								</select>
							</div>
							<div class="search-item item-select">
								<select name="children">
									<option value="1">کودکان < 12 (%50-)</option> <option value="2">کودکان < 10
												(%70-)</option> <option value="3">کودکان < 5 (%100-)</option> </select>
													</div> <ul>
													<li><span>هزینه حمل و نقل (%10+) : </span><label>26,000
															تومان</label>
													</li>
													<li><span>تخفیف (0%) : </span><label>0,000 تومان</label></li>
													</ul>
													<div class="button-submit">
														<button type="submit" class="button">رزرو تور</button>
													</div>
						</form>
					</div>
					<div class="module-why clearfix">
						<h3>چرا باید با ما سفر کنید؟</h3>
						<ul>
							<li><i class="fa fa-usd" aria-hidden="true"></i>ضمانت بهترین قیمت</li>
							<li><i class="fa fa-star" aria-hidden="true"></i>تور ها و فعالیت های ویژه</li>
							<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i>سرویس خدمات مسافرین 24/7
							</li>
							<li><i class="fa fa-user" aria-hidden="true"></i>راهنمای تور حرفه ای</li>
						</ul>
					</div>
					<div class="module-ques clearfix">
						<h3>پرسشی دارید؟</h3>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی</p>
						<ul>
							<li><i class="fa fa-phone" aria-hidden="true"></i>02155667788</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i>example@gmail.com</li>
						</ul>
					</div>
					<div class="module-pop clearfix">
						<h3>تور های محبوب</h3>
						<div class="item clearfix">
							<div class="image">
								<a href="tour-detail.html"><img src="image/catalog/demo/product/travel/p1.jpg"
										alt="Bougainvilleas on Lombard Street" class="img-responsive"></a>
							</div>
							<div class="content">
								<h4><a href="tour-detail.html">7 روز تور شگفت انگیز سفر به بریتانیا ...</a></h4>
								<p>از 250 هزار تومان</p>
							</div>
						</div>
						<div class="item clearfix">
							<div class="image">
								<a href="tour-detail.html"><img src="image/catalog/demo/product/travel/p2.jpg"
										alt="Bougainvilleas on Lombard Street" class="img-responsive"></a>
							</div>
							<div class="content">
								<h4><a href="tour-detail.html">7 روز تور شگفت انگیز سفر به بریتانیا ...</a></h4>
								<p>از 250 هزار تومان</p>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>

		<!-- //Main Container -->
{% endblock content %}