{% extends "base.html" %}
{% load static %}
{% block title %}
  همه تور ها
{% endblock title %}
{% block content %}
		<!-- Main Container  -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="title-breadcrumb">
					تور
				</div>
				<ul class="breadcrumb-cate">
					<li><a href="{% url 'home' %}">خانه</a></li>
					<li><a href="{% url 'tour-listing' %}">تور</a></li>
				</ul>
			</div>
		</div>
		<div class="container product-detail">
			<div class="row">
				<aside class="col-md-3 col-sm-4 col-xs-12 content-aside left_column sidebar-offcanvas">
					<span id="close-sidebar" class="fa fa-times"></span>
					<div class="module-search clearfix">
						<h3 class="modtitle">جستجوی تور</h3>
						<form method="get" action="{% url 'tour-listing' %}" id="my_form" class="search-pr">
							<div class="search-item city">
								<input type="text" class="tour-search-input" id="city" placeholder="مقصد شما" name="city">
							</div>
							<div class="search-item item-budget">
								<input type="number" class="hotel-budget-input" id="budget" placeholder="حداکثر بودجه" name="price">
							</div>
							<div class="button-submit">
								<button type="submit" class="button">جستجوی تور <i class="fa fa-angle-left"
										aria-hidden="true"></i></button>
							</div>
						</form>
					</div>
					<div class="module-ques clearfix">
						<h3>سوالی دارید؟</h3>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
							لورم ایپسوم متن ساختگی</p>
						<ul>
							<li><i class="fa fa-phone" aria-hidden="true"></i>02155667788</li>
							<li><i class="fa fa-envelope" aria-hidden="true"></i>example@gmail.com</li>
						</ul>
					</div>
				</aside>
				<div id="content" class="col-md-9 col-sm-12 col-xs-12">
					<a href="javascript:void(0)" class="open-sidebar hidden-lg hidden-md"><i
							class="fa fa-bars"></i>سایدبار</a>
					<div class="products-category">
						<div class="product-filter filters-panel">
							<div class="row">
								<div class="col-md-2 col-sm-2 view-mode hidden-xs">
									<div class="list-view">
										<button class="btn btn-default grid active" data-view="grid"
											data-toggle="tooltip" data-original-title="شبکه بندی"><i
												class="fa fa-th-large"></i></button>
										<button class="btn btn-default list" data-view="list" data-toggle="tooltip"
											data-original-title="لیست"><i class="fa fa-th-list"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="section-style4 products-list grid row number-col-3 so-filter-gird">
							{% for tour in tours %}
							
							<div class="product-layout col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="product-item-container item">
									<div class="item-block so-quickview">
										<div class="image">
											<a href="{% url 'tour-detail' tour.slug %}" target="_self">
												<img src=" {{tour.thumbnail.url}}"
													class="img-responsive">
											</a>
											<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>{{tour.label}}</span>
										</div>
										<div class="item-content clearfix">
											<h3><a href="{% url 'tour-detail' tour.slug %}">{{tour.title}}</a>
											</h3>
											<ul>
												<li><i class="fa fa-map-marker" aria-hidden="true"></i> {{tour.city.name}}</li>
												<li><i class="fa fa-clock-o" aria-hidden="true"></i> {{tour.tour_duration}}</li>
												<li><i class="fa fa-user-circle" aria-hidden="true"></i> {{tour.passengers_left}} نفر</li>
											</ul>
											<div class="item-bot clearfix">
												<div class="price pull-left">
													از <label>{{tour.adult_price}}</label><span> تومان</span>
												</div>
												
													<a href="{% url 'tour-detail' tour.slug %}"class="book-now btn-quickview  pull-right">مشاهده تور</a> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
						<div class="product-filter product-filter-bottom filters-panel">
							<ul class="pagination">
								{% if tours.has_previous %}
								<li><a href="?page={{tours.previous_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
								{% endif %}
								<li><span class="active">{{tours.number}}</span></li>
								{% if tours.has_next %}
								<li><a href="?page={{tours.next_page_number}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Main Container -->
{% endblock content %}
